/* In your CSS */
:root {
  --app-bg-color: #232323;
}

.App {
  background: var(--app-bg-color);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
